<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<aop:aspectj-autoproxy />

	<context:component-scan base-package="com.saic.framework.redis" />
	<!-- 配置redis连接池信息 -->
	<bean class="com.saic.framework.redis.config.PoolConfig" id="poolConfigRedis">
		<!-- 最大空闲连接数 -->
		<property value="60" name="maxIdle" />
		<!-- 最小空闲连接数 -->
		<property value="60" name="minIdle" />
		<!-- 是否测试连接 -->
		<property value="true" name="testOnBorrow" />
		<!-- 测试连接后是否返回一个连接 -->
		<property value="true" name="testOnReturn" />
		<!-- 是否空闲时检测连接 -->
		<property value="true" name="testWhileIdle" />
	</bean>

	<!-- 配置redis客户端 -->
	<bean class="com.saic.framework.redis.client.impl.RedisClientImpl"
		id="springRedisClientCrm" init-method="init">
		<!-- 配置redis引用的链接池配置信息 -->
		<property name="poolConfig" ref="poolConfigRedis" />
		<!-- 使用的zookeeper地址信息 -->
		<property value="${global.codis.zkAddress}" name="zkAddress" />
		<!-- 按照应用分配的codis名称信息 -->
		<property value="${global.codis.project.entp}" name="codisProjectName" />
	</bean>

</beans>
