<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache">
	
	<aop:aspectj-autoproxy />
	
	<!-- redis-cache -->
	<import resource="classpath:conf/spring/applicationContext-redis.xml" />
	
	<!-- redis-cache -->
	<!-- <import resource="classpath:conf/spring/applicationContext-redis-sentinel.xml" /> -->
	
	<cache:annotation-driven cache-manager="cacheManager"
		key-generator="redisKeyGenerator" />
		
	<bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">  
	    <property name="cacheManagers">  
	        <list>  
	            <ref bean="ehcacheManager"/>  
	            <ref bean="rediscacheManager"/>  
	        </list>  
	    </property>  
	    <property name="fallbackToNoOpCache" value="true"/>  
	</bean>
	
	<bean id="rediscacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
		<constructor-arg ref="redisTemplate" />
		<property name="defaultExpiration" value="3000" />
	</bean>
	
	<bean id="redisKeyGenerator" class="org.alljet.common.key.RedisKeyGenerator"></bean>
	
	
	<!-- cacheManager工厂类，指定ehcache.xml的位置 -->     
    <bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">    
        <property name="configLocation"  value="classpath:cache/ehcache.xml"/>    
    </bean>  
      
    <!-- 声明cacheManager -->    
    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">  
        <property name="cacheManager" ref="cacheManagerFactory"/>  
    </bean>  

</beans>